#pages-list
	button#pages-list-open
		i.fa.fa-folder-o(aria-hidden='true')
	#pages-list-block
		ul.nav.nav-pills
			li
				a(href='home-page1.html') 01_Home Page #1
			li
				a(href='home-page2.html') 02_Home Page #2
			li
				a(href='home-page3.html') 03_Home Page #3
			li
				a(href='blog.html') 04_Blog
			li
				a(href='blog-details.html') 05_Blog Details
			li
				a(href='about1.html') 06_About #1
			li
				a(href='about2.html') 07_About #2
			li
				a(href='about3.html') 08_About #3
			li
				a(href='work-with-us.html') 09_Work With Us
			li
				a(href='contact-us.html') 10_Contact Us
			li
				a(href='404.html') 11_404
			li
				a(href='shortcode.html') 12_Shortcode
			li
				a(href='blank-page.html') 13_Blank Page
/// #pages-list