.section-block.hsize-285.hsize-sm-300.hsize-xs-350
	img.hsize-sm-full.w-sm-init.mnl-sm-250(src='./images/blog/screen.png', alt='screen')
	.banner-text.pl-10.pr-150.l-0.r-0.t-0.mt-150.mt-md-120.mt-sm-150.mt-xs-180.ml-200.ml-sm-150.ml-xs-100.w-80.text-right.text-center-sm
		h1.regular Blog
///.section-block
.section-block.pb-50.pb-sm-20.pb-xs-0
	.container
		.row
			.col-md-8.col-sm-7
				h1.text-center.text-left-sm.mt-60 Mauris a Nunc
				p.text Mauris a nunc occideritis me rectum. Videtur quod Ive facillimum, qui fecit vos. Potes me interficere, sine testibus et tunc manere in pauci weeks vel mensis vestigia Isai Pinkman et vos quoque illum occidere. Exercitium inutili option A. Videtur mihi quod autem est.
				br
				p.text Pergo coctione, et ego, et tu oblivisci Pinkman. Obliviscendum hoc unquam factum. Intelligamus hoc in sola SINGULTO multo aliter atque fructuosa negotium structura. Malo B. Option. 2Ille vivere. Ut ad te quaerebam … purgare caeli. Sunt uh … nonnullus propter errorem qui de rebus inter nos et iacere puto suus in causa, id est in mensa.
				div.text-center.mt-30.mb-30
					a.rounded-btn.text-center.text-left-xs(href='/blog-details.html') Learn More
			.col-md-4.col-sm-5.mt-30.mt-sm-65.mt-xs-25
				figure.blog-info.out-grid
					img(src='./images/blog/block1.png', alt='block1')
					figcaption
						p.date 31st of July 2013 #7
						div.w-40.w-md-50.w-sm-60.mg-auto
							h5.regular Choose Your Ride Style
						a.rounded-btn(href='/blog-details.html') Learn More
			///.row
		///.container
	.container
		.row#blog-gallery
			figure.blog-info.col-sm-4.col-xs-12.overlay.all.popular
				img(src='./images/blog/block3.png', alt='block3')
				figcaption
					h5.regular Cross Ride In Your City
					a.rounded-btn(href='/blog-details.html') Learn More
			figure.blog-info.col-sm-4.col-xs-12.overlay.all
				img(src='./images/blog/block2.png', alt='block2')
				figcaption
					h5.regular Choose Your Ride Style
					a.rounded-btn(href='/blog-details.html') Learn More
			figure.blog-info.col-sm-4.col-xs-12.all.popular
				img(src='./images/blog/block6.png', alt='block6')
				figcaption
					p.date 31st of July 2013 #7
					div.w-40.w-md-50.w-sm-60.mg-auto
						h5.regular Choose Your Ride Style
					a.rounded-btn(href='/blog-details.html') Learn More
			figure.blog-info.col-sm-4.col-xs-12.all
				img(src='./images/blog/block5.png', alt='block5')
				figcaption
					p.date 31st of July 2013 #7
					div.w-40.w-md-50.w-sm-60.mg-auto
						h5.regular Choose Your Ride Style
					a.rounded-btn(href='/blog-details.html') Learn More
			figure.blog-info.col-sm-4.col-xs-12.all
				img(src='./images/blog/block4.png', alt='block4')
				figcaption
					p.date 31st of July 2013 #7
					div.w-40.w-md-50.w-sm-60.mg-auto
						h5.regular Choose Your Ride Style
					a.rounded-btn(href='/blog-details.html') Learn More
			figure.blog-info.col-sm-4.col-xs-12.all.popular
				img(src='./images/blog/block8.png', alt='block8')
				figcaption
					p.date 31st of July 2013 #7
					div.w-40.w-md-50.w-sm-60.mg-auto
						h5.regular Choose Your Ride Style
					a.rounded-btn(href='/blog-details.html') Learn More
			figure.blog-info.col-sm-4.col-xs-12.all
				img(src='./images/blog/block9.png', alt='block9')
				figcaption
					p.date 31st of July 2013 #7
					div.w-40.w-md-50.w-sm-60.mg-auto
						h5.regular Choose Your Ride Style
					a.rounded-btn(href='/blog-details.html') Learn More
			figure.blog-info.col-sm-4.col-xs-12.all.popular
				img(src='./images/blog/block7.png', alt='block7')
				figcaption
					p.date 31st of July 2013 #7
					div.w-40.w-md-50.w-sm-60.mg-auto
						h5.regular Choose Your Ride Style
					a.rounded-btn(href='/blog-details.html') Learn More
			figure.blog-info.col-sm-4.col-xs-12.overlay.all
				img(src='./images/blog/block11.png', alt='block11')
				figcaption
					h5.regular Choose Your Ride Style
					a.rounded-btn(href='/blog-details.html') Learn More
			figure.blog-info.col-sm-4.col-xs-12.overlay.all.popular
				img(src='./images/blog/block10.png', alt='block10')
				figcaption
					h5.regular Cross Ride In Your City
					a.rounded-btn(href='/blog-details.html') Learn More
		///.row
	///.container
///.section-block
.container
	.row
		.col-md-8.col-md-offset-2
			nav.bottom-navigation
				ul.nav.navbar-nav.pull-left.pull-none-xs.filter.mt-sm-5
					li
						a(href='javascript:void(0)', data-filter='.all') All news
					li
						a(href='javascript:void(0)', data-filter='.popular') Popular
					li.active
						a.random(href='javascript:void(0)', data-filter='.random') Random
				ul.pull-right.pull-none-xs.pagination.mt-sm-5
					li
						a(href='javascript:void(0)') Start
					li
						a(href='javascript:void(0)') 1
					li
						a(href='javascript:void(0)') 2
					li.active
						a(href='javascript:void(0)') 3
					li
						a(href='javascript:void(0)') 4
					li
						a(href='javascript:void(0)') 5
					li
						a(href='javascript:void(0)') End
				///.pagination
			///.bottom-navigation
	///.row
///.container

.section-block.similar-news.pt-70.pt-sm-40.pt-xs-70.pb-90.pb-xs-10
	.container
		.row
			.col-md-3.col-sm-4.mb-xs-15
				.blog-news
					figure
						img(src='./images/blog/similar1.png', alt='similar 1')
					.info
						.text
							span We are planning to...
							br
							a(href='/blog-details.html')
								| Learn More
								i.fa.fa-caret-right(aria-hidden='true')
				p.news-title Similar News
			.col-md-3.col-sm-4.mb-xs-15
				.blog-news
					figure
						img(src='./images/blog/similar2.png', alt='similar 2')
					.info
						.text
							span Blog Like a Boss Ha
							br
							a(href='/blog-details.html')
								| Learn More
								i.fa.fa-caret-right(aria-hidden='true')
			.col-md-3.col-sm-4.mb-xs-15
				.blog-news
					figure
						img(src='./images/blog/similar3.png', alt='similar 3')
					.info
						.text
							span ZARA provide New...
							br
							a(href='/blog-details.html')
								| Learn More
								i.fa.fa-caret-right(aria-hidden='true')
			.col-md-3.hidden-sm.mb-xs-15
				.blog-news
					figure
						img(src='./images/blog/similar4.png', alt='similar 4')
					.info
						.text
							span Template Monster
							br
							a(href='/blog-details.html')
								| Learn More
								i.fa.fa-caret-right(aria-hidden='true')
		///.row
	///.container
///.section-block