.section-block.pt-150.pt-xs-100.pb-80.pb-xs-20
	.container
		.row
			h1.lower-case.text-center.mb-40 Internally Geared Hubs
			.col-md-8.col-md-offset-2.col-sm-12
				div
					img.zoom-image(src='./images/blog-details/block1.png', alt='block 1')
			.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.mt-40.mb-40
				p.text Our bicycles do not have external chain rings - they come available with a Shimano Alfine 11- or Rohloff 14-speed internal planetary gearing mechanism. It possetsses two gears mounted with one gear (planetary gear) revolving around the other (sun gear). Internally geared hubs can be shifted at a stand still and require virtually no adjustment or maintenance.
				br
				p.text The Shimano Alfine Di2 option shifts electronically using an integrated battery system and motor located at the rear hub while allowing you to view your current gear on a bright digital display.
				br
				p.text Our bicycles do not have external chain rings - they come available with a Shimano Alfine 11- or Rohloff 14-speed internal planetary gearing mechanism. It possetsses two gears mounted with one gear (planetary gear) revolving around the other (sun gear). Internally geared hubs can be shifted at a stand still and require virtually no adjustment or maintenance.
				br
				p.text The Shimano Alfine Di2 option shifts electronically using an integrated battery system and motor located at the rear hub while allowing you to view your current gear on a bright digital display.
			.col-md-4.col-sm-4
				a(href='/blog.html')
					img.zoom-image(src='./images/blog-details/block2.png', alt='block 2')
			.col-md-4.col-sm-4.mt-xs-15
				a(href='/blog.html')
					img.zoom-image(src='./images/blog-details/block3.png', alt='block 3')
			.col-md-4.col-sm-4.mt-xs-15
				a(href='/blog.html')
					img.zoom-image(src='./images/blog-details/block4.png', alt='block 4')
			.col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1.mt-40
				p.text Our bicycles do not have external chain rings - they come available with a Shimano Alfine 11- or Rohloff 14-speed internal planetary gearing mechanism. It possetsses two gears mounted with one gear (planetary gear) revolving around the other (sun gear). Internally geared hubs can be shifted at a stand still and require virtually no adjustment or maintenance.
				br
				p.text The Shimano Alfine Di2 option shifts electronically using an integrated battery system and motor located at the rear hub while allowing you to view your current gear on a bright digital display.
				br
				p.text Our bicycles do not have external chain rings - they come available with a Shimano Alfine 11- or Rohloff 14-speed internal planetary gearing mechanism. It possetsses two gears mounted with one gear (planetary gear) revolving around the other (sun gear). Internally geared hubs can be shifted at a stand still and require virtually no adjustment or maintenance.
				br
				p.text The Shimano Alfine Di2 option shifts electronically using an integrated battery system and motor located at the rear hub while allowing you to view your current gear on a bright digital display.
		///.row
	///.container
///.section-block