.section-block.hsize-415
	.banner-text.text-center.l-0.r-0.t-0.b-0.mt-200
		h1.mb-20.regular.lower-case.fw-900 Find
			span.orange-text  us
	img.op-2.hsize-full.w-100.w-sm-init(src='./images/contact-us/screen.png', alt='screen')
.section-block.contact-info
	.container
		.row
			.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0.mt-50.mt-xs-0.mb-50.mb-xs-0
				.block
					.star
						i.fa.fa-star(aria-hidden='true')
					p.text-right Mail
					p.text-left.text studio@cerebro.com
				.block
					.star
						i.fa.fa-star(aria-hidden='true')
					p.text-right Phone
					p.text-left.text (+31) 573-19-76
				.block
					.star
						i.fa.fa-star(aria-hidden='true')
					p.text-right Address
					p.text-left.text.text-uppercase Brooklyn, NYC Brooklyn Bridge
		///.row
	///.container
///.contact-info
.section-block.contact-form.mb-xs-15
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				.w-100.pull-left.form-wrapper.pt-70.pb-40
					form.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12(action='javascript:void(0)', method='POST')
						input.col-md-5.col-sm-5.mb-xs-20(type='text', name='name', required='', placeholder='Your Name')
						input.col-md-5.col-md-offset-2.col-sm-5.col-sm-offset-2.mb-xs-20(type='email', name='email', required='', placeholder='Your Email')
						textarea.col-md-12.col-sm-12.mt-20(name='message', rows='3', required='', placeholder='Message')
						.text-center
							button.submit-btn(type='submit') Send
		///.row
	///.container
///.contact-form