.section-block
	#banner-slider.owl-carousel
		.item
			.banner-text.pl-10.pr-10.l-0.r-0.mt-250.mt-md-150.mt-sm-150.ml-200.ml-sm-50.ml-xs-0.w-80.w-xs-100.text-center-xs
				h1 Mountain Biking
				h4 When your life is it pulse
				p Pellentesque sodales quam  nunc. Sed scelerisque adipiscing pede donec nu Nullam tempus erat id tortor.
				a.rounded-btn.mt-20.mt-xs-45(href='/blog.html') Explore Now
			img(src="./images/home-page1/slide1.png", alt="slide1")
		.item
			.banner-text.pl-10.pr-10.l-0.r-0.mt-250.mt-md-150.mt-sm-150.ml-200.ml-sm-50.ml-xs-0.w-80.w-xs-100.text-center-xs
				h1 Mountain Biking
				h4 When your life is it pulse
				p Pellentesque sodales quam  nunc. Sed scelerisque adipiscing pede donec nu Nullam tempus erat id tortor.
				a.rounded-btn.mt-20.mt-xs-45(href='/blog.html') Explore Now
			img(src="./images/home-page1/slide1.png", alt="slide1")
		.item
			.banner-text.pl-10.pr-10.l-0.r-0.mt-250.mt-md-150.mt-sm-150.ml-200.ml-sm-50.ml-xs-0.w-80.w-xs-100.text-center-xs
				h1 Mountain Biking
				h4 When your life is it pulse
				p Pellentesque sodales quam  nunc. Sed scelerisque adipiscing pede donec nu Nullam tempus erat id tortor.
				a.rounded-btn.mt-20.mt-xs-45(href='/blog.html') Explore Now
			img(src="./images/home-page1/slide1.png", alt="slide1")
		.item
			.banner-text.pl-10.pr-10.l-0.r-0.mt-250.mt-md-150.mt-sm-150.ml-200.ml-sm-50.ml-xs-0.w-80.w-xs-100.text-center-xs
				h1 Mountain Biking
				h4 When your life is it pulse
				p Pellentesque sodales quam  nunc. Sed scelerisque adipiscing pede donec nu Nullam tempus erat id tortor.
				a.rounded-btn.mt-20.mt-xs-45(href='/blog.html') Explore Now
			img(src="./images/home-page1/slide1.png", alt="slide1")
	///#banner-slider
///.section-block
.section-block.training.pt-70.pt-xs-30.pb-70
	.container
		.row
			.col-md-6.col-sm-6
				h1 Top Training
				p.text.mt-35.mb-35.mb-xs-25 Ut eu diam vel leo aliquam consectetu Proin torto elit rutrum donec rhoncu. Cras erad est cursus sed dignissim sed euismod.Ut eu diam vel leo aliquam consectetu Proin torto elit rutrum donec rhoncu. Cras erad est cursus sed dignissim sed euismod.Ut eu diam vel leo aliquam consectetu Proin torto elit rutrum donec rhoncu. Cras erad est cursus sed dignissim sed euismod.
				a.rounded-btn(href='/blog-details.html') More Details
			.col-md-6.col-sm-6.mt-xs-30
				.row
					.col-md-6.col-sm-6.col-xs-6
						figure.block-info
							img(src='./images/home-page1/block1.png', alt='block1')
							figcaption
								h4 Ego Hoodie
									br
									| Expect
								fieldset.rating
									input#star5(type='radio', name='rating', value='5')
									label.full(for='star5', title='Awesome - 5 stars')
									input#star4(type='radio', name='rating', value='4')
									label.full(for='star4', title='Pretty good - 4 stars')
									input#star3(type='radio', name='rating', value='3')
									label.full(for='star3', title='Meh - 3 stars')
									input#star2(type='radio', name='rating', value='2')
									label.full(for='star2', title='Kinda bad - 2 stars')
									input#star1(type='radio', name='rating', value='1')
									label.full(for='star1', title='Sucks big time - 1 star')
					.col-md-6.col-sm-6.col-xs-6
						figure.block-info
							img(src='./images/home-page1/block2.png', alt='block2')
							figcaption
								h4 Sum
									br
									| Expectantes
								fieldset.rating
									input#star10(type='radio', name='rating', value='5')
									label.full(for='star10', title='Awesome - 5 stars')
									input#star9(type='radio', name='rating', value='4')
									label.full(for='star9', title='Pretty good - 4 stars')
									input#star8(type='radio', name='rating', value='3')
									label.full(for='star8', title='Meh - 3 stars')
									input#star7(type='radio', name='rating', value='2')
									label.full(for='star7', title='Kinda bad - 2 stars')
									input#star6(type='radio', name='rating', value='1')
									label.full(for='star6', title='Sucks big time - 1 star')
				///.row
		///.row
	///.container
///.training
.section-block.section2.style.pt-50.pt-xs-50.pb-70.pb-xs-30
	.container
		.row.switchable.style3
			include ../../custom-parts/home-page1-section2-style3
		///.row
	///.container
///.style
.section-block.section3.pt-40.pb-30
	.switchable.style1
		include ../../custom-parts/home-page1-section3-style1
///.section-block
.section-block.pt-70.pb-70.banner1
	.banner-text.text-center.pt-25.pt-sm-35.pb-25
		.logo.w-40.w-xs-80.center-block.mb-xs-20
			include ../../../images/logo-white.svg
		p.text.w-80.w-sm-90.center-block Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
	///.banner-text
///.banner1