.section-block.hsize-415.hsize-sm-550
	.banner-text.text-center.l-0.r-0.t-0.b-0.mt-180
		h1.mb-20.regular.lower-case Our Bikes -
			span.orange-text  About Us
		p.text.w-50.w-sm-80.mg-auto We believe there’s no such thing as a crazy request. Maybe you’re celebrating a special birthday. Maybe you want to find an out-of-the-way restaurant. Or maybe you’ve decided to propose marriage on the spot.
	img.hsize-xs-full.w-sm-init.op-2(src='./images/about2/screen.png', alt='screen')
///.section-block
.section-block.pt-60.pt-sm-0.pb-90.pb-xs-30
	.container
		.row
			.col-md-6.col-sm-6
				p.about-title Relability Bike
				p.text Bicycles were introduced in the 19th century in Europe and, as of 2003, number more than a billion worldwide, twice as many as automobiles. They are the principal means of transportation in many regions. They also provide a popular form of recreation, and have been adapted for use as children's toys, general fitness, military and police applications, courier services, and bicycle racing.
			.col-md-6.col-sm-6
				p.about-title Specialists Bike
				p.text Bicycles were introduced in the 19th century in Europe and, as of 2003, number more than a billion worldwide, twice as many as automobiles. They are the principal means of transportation in many regions. They also provide a popular form of recreation, and have been adapted for use as children's toys, general fitness, military and police applications, courier services, and bicycle racing.
			.col-md-6.col-sm-12.features.mt-30.mt-sm-0
				p.about-title New Features
				.progress-bar-list.mt-20
					p.text 40%
					.progress-bar
						.progress-line(data-progress="40")
					p.text 20%
					.progress-bar
						.progress-line(data-progress="20")
					p.text 60%
					.progress-bar
						.progress-line(data-progress="60")
					p.text 80%
					.progress-bar
						.progress-line(data-progress="80")
			///.features
			.col-md-6.col-sm-12.partners.mt-30.mt-sm-0
				p.about-title.mb-50.mb-sm-10 Main Sponsors
				.block.ml-sm-0
					a(href='javascript:void(0)')
						img(src='./images/about2/partner1.png', alt='partner 1')
						div.overlay
				.block.mr-xs-0
					a(href='javascript:void(0)')
						img(src='./images/about2/partner2.png', alt='partner 2')
						div.overlay
				.block.mr-sm-0.ml-xs-0.mr-xs-7
					a(href='javascript:void(0)')
						img(src='./images/about2/partner3.png', alt='partner 3')
						div.overlay
				.block.ml-sm-0.mr-xs-0.ml-xs-7
					a(href='javascript:void(0)')
						img(src='./images/about2/partner4.png', alt='partner 4')
						div.overlay
				.block.ml-xs-0
					a(href='javascript:void(0)')
						img(src='./images/about2/partner5.png', alt='partner 5')
						div.overlay
				.block.mr-sm-0
					a(href='javascript:void(0)')
						img.w-35(src='./images/about2/partner6.png', alt='partner 6')
						div.overlay
			///.partners
		///.row
	///.container
	.container.w-sm-100
		.row
			.col-md-12.col-sm-12.col-xs-12.about-gallery.pt-70.pt-sm-30.pt-xs-0
				div.block
					figure.overlay.top
						img(src='./images/about2/gallery1.png', alt='gallery1')
						a(href='/blog.html')
							i.fa.fa-search-plus(aria-hidden='true')
						figcaption
							p.title Enduro
							p.sub-title 160MM FS Enduro Bikes
							.star
								i.fa.fa-star(aria-hidden='true')
				div.block
					figure.overlay.bottom
						img(src='./images/about2/gallery2.png', alt='gallery2')
						a(href='/blog.html')
							i.fa.fa-search-plus(aria-hidden='true')
						figcaption
							p.title Enduro
							p.sub-title 160MM FS Enduro Bikes
							.star
								i.fa.fa-star(aria-hidden='true')
				div.block
					figure.overlay.top
						img(src='./images/about2/gallery3.png', alt='gallery3')
						a(href='/blog.html')
							i.fa.fa-search-plus(aria-hidden='true')
						figcaption
							p.title Enduro
							p.sub-title 160MM FS Enduro Bikes
							.star
								i.fa.fa-star(aria-hidden='true')
				div.block
					figure.overlay.top
						img(src='./images/about2/gallery4.png', alt='gallery4')
						a(href='/blog.html')
							i.fa.fa-search-plus(aria-hidden='true')
						figcaption
							p.title Enduro
							p.sub-title 160MM FS Enduro Bikes
							.star
								i.fa.fa-star(aria-hidden='true')
				div.block
					figure.overlay.bottom
						img(src='./images/about2/gallery5.png', alt='gallery5')
						a(href='/blog.html')
							i.fa.fa-search-plus(aria-hidden='true')
						figcaption
							p.title Enduro
							p.sub-title 160MM FS Enduro Bikes
							.star
								i.fa.fa-star(aria-hidden='true')
				div.block
					figure.overlay.top
						img(src='./images/about2/gallery6.png', alt='gallery6')
						a(href='/blog.html')
							i.fa.fa-search-plus(aria-hidden='true')
						figcaption
							p.title Enduro
							p.sub-title 160MM FS Enduro Bikes
							.star
								i.fa.fa-star(aria-hidden='true')
			///.about-gallery
		///.row
	///.container
///.section-block