.section-block.top-banner.hsize-630
	img.hsize-md-full.w-md-init(src='./images/home-page2/screen.png', alt='screen')
	img.w-sm-100.visible-sm.mg-auto(src='./images/home-page2/screen-tablet.png', alt='screen')
.section-block.pt-50.pb-80.text-center
	.container
		.row
			.col-md-12
				h2 Mauris A Nunc
				p.text.text-left Mauris a nunc occideritis me rectum. Videtur quod Ive facillimum, qui fecit vos. Potes me interficere, sine testibus et tunc manere in pauci weeks vel mensis vestigia Isai Pinkman et vos quoque illum occidere. Exercitium inutili option A. Videtur mihi quod autem est.
				br
				p.text.text-left Pergo coctione, et ego, et tu oblivisci Pinkman. Obliviscendum hoc unquam factum. Intelligamus hoc in sola SINGULTO multo aliter atque fructuosa negotium structura. Malo B. Option. 2Ille vivere. Ut ad te quaerebam … purgare caeli. Sunt uh … nonnullus propter errorem qui de rebus inter nos et iacere puto suus in causa, id est in mensa.
				a.rounded-btn.mt-40(href='/blog.html') Learn More
		///.row
	///.container
///.section-block
.section-block.preview-gallery.text-center.pt-30.pb-50
	.container
		.row
			.col-md-6.col-sm-8.col-xs-12
				figure.overlay
					img(src='./images/home-page2/block1.png', alt='block1')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p Road Bikes
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-3.col-sm-4.col-xs-12
				figure.overlay
					img(src='./images/home-page2/block2.png', alt='block2')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p City Bikes
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-3.col-sm-6.col-xs-12
				figure.overlay
					img(src='./images/home-page2/block3.png', alt='block3')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p Mountain Bikes
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-3.col-sm-6.col-xs-12.cleft.clear-init-sm
				figure.overlay
					img(src='./images/home-page2/block4.png', alt='block4')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p City Bikes
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-3.col-sm-5.col-xs-12
				figure.overlay
					img(src='./images/home-page2/block5.png', alt='block5')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p Mountain Bikes
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-6.col-sm-7.col-xs-12
				figure.overlay
					img(src='./images/home-page2/block6.png', alt='block6')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p Watch Cyclocross Live!
						.star
							i.fa.fa-star(aria-hidden='true')
		///.row
	///.container
///.gallery