.col-md-7.col-md-offset-5.mt-xs-250
	h1.black-text.mb-xs-30 Choose Your
		span.orange-text  Style
	.bike-tabs
		ul.nav.nav-tabs(role='tablist')
			li.tab.active(role='tab', data-toggle='tab')
				a(href='#bike1', data-toggle='tab')
					img(src='./images/home-page1/bike-thumb1-side.png', alt='bike thumb')
					p Mountain Bike
			li.tab(role='tab', data-toggle='tab')
				a(href='#bike2', data-toggle='tab')
					img(src='./images/home-page1/bike-thumb2-side.png', alt='bike thumb')
					p Freeride Bike
			li.tab(role='tab', data-toggle='tab')
				a(href='#bike3', data-toggle='tab')
					img(src='./images/home-page1/bike-thumb3-side.png', alt='bike thumb')
					p City Crossover
		.tab-content.mt-30.mt-xs-15
			#bike1.tab-pane.active.fade.in
				h3.black-text Mountain bike
				p.text
					| Mountain biking can generally be broken down into multiple categories: cross country, trail riding, all mountain (also referred to as "Enduro"), downhill, freeride and dirt jumping. However, the majority of mountain biking falls into the categories of Trail and Cross Country riding styles.
				p.text
					| Mountain biking is the sport of riding bicycles off-road, often over rough terrain, using specially designed mountain bik es. Mountain bikes share similarities with other bikes, but incorporate features designed to enhance durability and performance in rough terrain
				img.hidden-sm(src='./images/home-page1/bike-view1.png', alt='bike view1')
			#bike2.tab-pane.fade
				h3.black-text Freeride Bike
				p.text
					| Freeride biking can generally be broken down into multiple categories: cross country, trail riding, all mountain (also referred to as "Enduro"), downhill, freeride and dirt jumping. However, the majority of mountain biking falls into the categories of Trail and Cross Country riding styles.
				p.text
					| Freeride biking is the sport of riding bicycles off-road, often over rough terrain, using specially designed mountain bik es. Mountain bikes share similarities with other bikes, but incorporate features designed to enhance durability and performance in rough terrain
				img.hidden-sm(src='./images/home-page1/bike-view1.png', alt='bike view1')
			#bike3.tab-pane.fade
				h3.black-text City Crossover
				p.text
					| Crossover biking can generally be broken down into multiple categories: cross country, trail riding, all mountain (also referred to as "Enduro"), downhill, freeride and dirt jumping. However, the majority of mountain biking falls into the categories of Trail and Cross Country riding styles.
				p.text
					| Crossover biking is the sport of riding bicycles off-road, often over rough terrain, using specially designed mountain bik es. Mountain bikes share similarities with other bikes, but incorporate features designed to enhance durability and performance in rough terrain
				img.hidden-sm(src='./images/home-page1/bike-view1.png', alt='bike view1')
		a.rounded-btn.mt-30.mt-xs-15(href='/blog-detail.html') Details
	///.bike-tabs