.container.text-center
	.row
		h1.mb-60 Recent News
		.col-md-3.col-sm-4.col-xs-6.block
			div.br-7.zoom-image-parent
				img.zoom-image.br-6(src='./images/home-page1/news1.png', alt='news')
			h3.text-heading Mountain Bikes
			p.text.mg-0 Ready to get shreddy?
			a.rounded-btn.mt-35.mb-35(href='/blog.html') Details
		.col-md-3.col-sm-4.col-xs-6.block
			div.br-7.zoom-image-parent
				img.zoom-image.br-6(src='./images/home-page1/news2.png', alt='news')
			h3.text-heading Road Bikes
			p.text.mg-0 Smooth, light, aero.
			p.text.mg-0 Choose your weapon.
			a.rounded-btn.mt-35.mb-35(href='/blog.html') Details
		.col-md-3.col-sm-4.col-xs-6.block
			div.br-7.zoom-image-parent
				img.zoom-image.br-6(src='./images/home-page1/news3.png', alt='news')
			h3.text-heading City Bikes
			p.text.mg-0 Smart, fun bikes that fit the way you work, play, and live.
			a.rounded-btn.mt-35.mb-35(href='/blog.html') Details
		.col-md-3.col-xs-6.hidden-sm.block
			div.br-7.zoom-image-parent
				img.zoom-image.br-6(src='./images/home-page1/news4.png', alt='news')
			h3.text-heading Watch Cyclocross Live!
			p.text.mg-0 Trek is streaming the 2016-17
			p.text.mg-0 DVV Trophy series live.
			a.rounded-btn.mt-35.mb-35(href='/blog.html') Details
	///.row
///.container