h1.mb-60.text-center Recent News
div
	#news-slider
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel1.png', alt='carousel1')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Marlin
				p.post-descr.text Marlin takes its cue from light, fast XC bikes. The right wheel size for each frame size, performance pedigree, and unbeatable ride feel make Marlin the perfect trail rider.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel2.png', alt='carousel2')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Top Fuel
				p.post-descr.text And with its amazing suspension, it’s the overall best downhiller the scene has ever seen.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel3.png', alt='carousel3')
				figcaption
					p.title Enduro
					p.sub-title 160MM FS Enduro Bikes
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Procaliber
				p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. World Cup champion Session is proven to be the fastest downhill mountain bike.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel4.png', alt='carousel4')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Superfly
				p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. And with its amazing suspension.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel5.png', alt='carousel5')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title X-Caliber
				p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. And with its amazing suspension, it’s the overall best downhiller the scene has ever seen.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel6.png', alt='carousel6')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Skye Women's
				p.post-descr.text The Skye's the limit for how far this mountain bike will take you. Every detail, from women's-specific touchpoints to optimized wheel size, is designed to ensure a fun, wild adventure on the trail.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel1.png', alt='carousel1')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Marlin
				p.post-descr.text Marlin takes its cue from light, fast XC bikes. The right wheel size for each frame size, performance pedigree, and unbeatable ride feel make Marlin the perfect trail rider.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel2.png', alt='carousel2')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Top Fuel
				p.post-descr.text And with its amazing suspension, it’s the overall best downhiller the scene has ever seen.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel3.png', alt='carousel3')
				figcaption
					p.title Enduro
					p.sub-title 160MM FS Enduro Bikes
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Procaliber
				p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. World Cup champion Session is proven to be the fastest downhill mountain bike.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel4.png', alt='carousel4')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Superfly
				p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. And with its amazing suspension.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel5.png', alt='carousel5')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title X-Caliber
				p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. And with its amazing suspension, it’s the overall best downhiller the scene has ever seen.
				a.rounded-btn(href='blog.html') Learn More
		.col-md-12.col-sm-12
			figure.news.zoom-image-parent
				img.zoom-image(src='./images/home-page1/carousel6.png', alt='carousel6')
				figcaption
					p.title Farley EX
					p.sub-title Cross Country Race
					.star.text-center
						i.fa.fa-star(aria-hidden='true')
			.post
				p.post-title Skye Women's
				p.post-descr.text The Skye's the limit for how far this mountain bike will take you. Every detail, from women's-specific touchpoints to optimized wheel size, is designed to ensure a fun, wild adventure on the trail.
				a.rounded-btn(href='blog.html') Learn More
	///.row
///.container
///#news-slider