.section-block.hsize-415
	.banner-text.text-center.l-0.r-0.t-0.b-0.mt-200
		h1.mb-20.w-xs-50.mg-auto-xs.regular.lower-case.fw-900 Contact
			span.orange-text  with Us
	img.op-2.hsize-full.w-100.w-sm-init(src='./images/work-with-us/screen.png', alt='screen')
///.section-block
.section-block.work-with
	.container
		.row.mt-90.mt-sm-15.mb-30.mb-xs-15
			.col-md-12.col-sm-12.col-xs-12
				.w-100.pull-left.form-wrapper.pt-70.pt-xs-15.pb-40
					form.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12(action='javascript:void(0)', method='POST')
						input.col-md-5.col-sm-5.mb-xs-20(type='text', name='name', required='', placeholder='Your Name')
						input.col-md-5.col-md-offset-2.col-sm-5.col-sm-offset-2.mb-xs-20(type='email', name='email', required='', placeholder='Your Email')
						textarea.col-md-12.col-sm-12.mt-20(name='message', rows='3', required='', placeholder='Message')
						.text-center
							button.submit-btn(type='submit') Send
		///.row
		.row.pb-70.pb-xs-0
			.col-md-4.col-sm-4.text-center
				.block
					p.regular.fs-20.fw-900.lower-case Mail
					p.text studio@cerebro.com
			.col-md-4.col-sm-4.text-center
				.block
					p.regular.fs-20.fw-900.lower-case Address
					p.text.text-uppercase Brooklyn, NYC Brooklyn Bridge
			.col-md-4.col-sm-4.text-center
				.block
					p.regular.fs-20.fw-900.lower-case Phone
					p.text (+31) 573-19-76
		///.row
	///.container
///.work-with