.section-block.hsize-415.hsize-xs-600
	.banner-text.text-center.l-0.r-0.t-0.b-0.mt-180
		h1.mb-20 About
			span.orange-text  Technology
		p.text.w-60.w-xs-80.mg-auto The experience of riding a Budnitz bicycle is made possible by a unique orchestration of innovations. Here is the technology that connects to create a feeling much greater than simply the sum of our parts.
	img.hsize-md-full.w-md-init.hsize-sm-full.w-sm-init(src='./images/about1/screen.png', alt='screen')
///.section-block
.section-block.technology.pt-90.pt-sm-10.pb-90
	.container
		.row
			.col-md-6.col-sm-6.text-right.text-left-xs
				p.about-title.mb-xs-20
					| Aerospace
					br
					| Grade Titanium
				p.text Titanium is notoriously difficult to handle by anyone but the world’s best builders. It offers an exceptional strength-to-weight ratio - light as aluminum and as strong as steel. Our 3AL 2.5V alloy will never rust, corrode or be damaged by UV rays. Budnitz titanium tubes are custom drawn and butted then hand tig welded. Mistakes are impossible to hide on titanium and we only ship perfection.
			.col-md-6.col-sm-6
				figure.overlay.mt-sm-30
					img(src='./images/about1/block1.png', alt='block1')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption.text-right.text-center-xs
						a.facebook(href='javascript:void(0)')
							i.fa.fa-facebook(aria-hidden='true')
						a.twitter(href='javascript:void(0)')
							i.fa.fa-twitter(aria-hidden='true')
						a.google(href='javascript:void(0)')
							i.fa.fa-google-plus(aria-hidden='true')
						a.instagram(href='javascript:void(0)')
							i.fa.fa-instagram(aria-hidden='true')
		///.row
		.row
			.col-md-6.col-sm-6
				figure.overlay.mt-sm-30
					img(src='./images/about1/block2.png', alt='block2')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption.text-left.text-center-xs
						a.facebook(href='javascript:void(0)')
							i.fa.fa-facebook(aria-hidden='true')
						a.twitter(href='javascript:void(0)')
							i.fa.fa-twitter(aria-hidden='true')
						a.google(href='javascript:void(0)')
							i.fa.fa-google-plus(aria-hidden='true')
						a.instagram(href='javascript:void(0)')
							i.fa.fa-instagram(aria-hidden='true')
			.col-md-6.col-sm-6.text-left
				p.about-title.mb-xs-20
					| Cantilever
					br
					| Frame Design
				p.text The iconic Budnitz twin-tube cantilever frame flexes vertically to absorb road vibration while remaining laterally stiff to deliver energy to the pedals. The arch properties allow a Budnitz to offer a smooth ride without the added complexity and weight of a suspension.
		///.row
		.row
			.col-md-6.col-sm-6.text-right.text-left-xs
				p.about-title.mb-xs-20
					| Carbon
					br
					| Belt Drive
				p.text Instead of a traditional chain, every Budnitz Bicycle features a Gates Carbon Drive belt. Our grease-free belt drive is 30% lighter than a chain, whisper quiet and impossible to derail. Its high efficiency means more power on hills and speed on the straightaways. Finally, they last at least twice as long as a traditional chain.
				br
				p.text Budnitz is proud to be the first brand globally to build bicycles using exclusively Gates Carbon Belt Drive.
			.col-md-6.col-sm-6
				figure.overlay.mt-sm-30
					img(src='./images/about1/block3.png', alt='block3')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption.text-right.text-center-xs
						a.facebook(href='javascript:void(0)')
							i.fa.fa-facebook(aria-hidden='true')
						a.twitter(href='javascript:void(0)')
							i.fa.fa-twitter(aria-hidden='true')
						a.google(href='javascript:void(0)')
							i.fa.fa-google-plus(aria-hidden='true')
						a.instagram(href='javascript:void(0)')
							i.fa.fa-instagram(aria-hidden='true')
		///.row
		.row
			.col-md-6.col-sm-6
				figure.overlay.mt-sm-30
					img(src='./images/about1/block4.png', alt='block4')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption.text-left.text-center-xs
						a.facebook(href='javascript:void(0)')
							i.fa.fa-facebook(aria-hidden='true')
						a.twitter(href='javascript:void(0)')
							i.fa.fa-twitter(aria-hidden='true')
						a.google(href='javascript:void(0)')
							i.fa.fa-google-plus(aria-hidden='true')
						a.instagram(href='javascript:void(0)')
							i.fa.fa-instagram(aria-hidden='true')
			.col-md-6.col-sm-6.text-left
				p.about-title.mb-xs-20
					| Internally
					br
					| Geared Hubs
				p.text Our bicycles do not have external chain rings - they come available with a Shimano Alfine 11- or Rohloff 14-speed internal planetary gearing mechanism. It possesses two gears mounted with one gear (planetary gear) revolving around the other (sun gear). Internally geared hubs can be shifted at a stand still and require virtually no adjustment or maintenance.
				br
				p.text The Shimano Alfine Di2 option shifts electronically using an integrated battery system and motor located at the rear hub while allowing you to view your current gear on a bright digital display.
		///.row
	///.container
///.section-block