.section-block.text-center.not-found.mt-100.mt-xs-40
	.container
		.row
			h1.regular 404
			p.text.mb-50
				| Sorry, but page you’re trying to access is not working.
				br
				| Try to modify pages address or
			a.rounded-btn.mb-sm-20(href='/home-page1.html') Learn More
include ../../components/_pages
include ../../components/_scripts