.section-block
	#banner-slider.owl-carousel
		.item
			.banner-text.text-right.text-center-sm.text-center-xs.pl-10.pr-10.l-0.r-0.mt-250.ml-50.ml-sm-0.w-80.w-sm-100
				h2
					| Choose Your
					br
					| Ride Style
			img(src="./images/home-page3/slide1.png", alt="slide1")
		.item
			.banner-text.text-right.text-center-sm.text-center-xs.pl-10.pr-10.l-0.r-0.mt-250.ml-50.ml-sm-0.w-80.w-sm-100
				h2
					| Choose Your
					br
					| Ride Style
			img(src="./images/home-page3/slide1.png", alt="slide2")
		.item
			.banner-text.text-right.text-center-sm.text-center-xs.pl-10.pr-10.l-0.r-0.mt-250.ml-50.ml-sm-0.w-80.w-sm-100
				h2
					| Choose Your
					br
					| Ride Style
			img(src="./images/home-page3/slide1.png", alt="slide3")
		.item
			.banner-text.text-right.text-center-sm.text-center-xs.pl-10.pr-10.l-0.r-0.mt-250.ml-50.ml-sm-0.w-80.w-sm-100
				h2
					| Choose Your
					br
					| Ride Style
			img(src="./images/home-page3/slide1.png", alt="slide4")
	///#banner-slider
///.section-block
.section-block.pt-40.pb-50.pb-xs-0.recent-news.text-center
	.container
		.row
			h1.mb-60 Recent News
			.col-md-4.col-sm-6
				figure.news
					img.zoom-image(src='./images/home-page3/block1.png', alt='block1')
					figcaption
						p.title Downhill
						.star
							i.fa.fa-star(aria-hidden='true')
				p.text.text-left.mt-30.mb-xs-50 We developed Ticket S and DJ over years of close collaboration with the world's best slopestyle riders: Brandon Semenuk and the rest of the C3 Project.
			.col-md-4.col-sm-6
				figure.news
					img.zoom-image(src='./images/home-page3/block2.png', alt='block2')
					figcaption
						p.title Ticket
						.star
							i.fa.fa-star(aria-hidden='true')
				p.text.text-left.mt-30.mb-xs-50 We developed Ticket S and DJ over years of close collaboration with the world's best slopestyle riders: Brandon Semenuk and the rest of the C3 Project.
			.col-md-4.hidden-sm
				figure.news
					img.zoom-image(src='./images/home-page3/block3.png', alt='block3')
					figcaption
						p.title Mountain
						.star
							i.fa.fa-star(aria-hidden='true')
				p.text.text-left.mt-30.mb-xs-50 We developed Ticket S and DJ over years of close collaboration with the world's best slopestyle riders: Brandon Semenuk and the rest of the C3 Project.
		///.row
	///.container
///.section-block
.section-block.news-carousel.pt-20.pt-xs-0.pb-30
	h1.orange-text.text-center.mb-20 Cross Country
	p.text.text-center.w-70.mg-auto Our cross country bikes are built to be light, fast, and capable. They can carry you across a World Cup finish line or get you to your first trailhead. You decide if you want to keep it fast or keep it fun.
	div
		#news-slider
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel1.png', alt='carousel1')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Marlin
					p.post-descr.text Marlin takes its cue from light, fast XC bikes. The right wheel size for each frame size, performance pedigree, and unbeatable ride feel make Marlin the perfect trail rider.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel2.png', alt='carousel2')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Top Fuel
					p.post-descr.text And with its amazing suspension, it’s the overall best downhiller the scene has ever seen.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel3.png', alt='carousel3')
					figcaption
						p.title Enduro
						p.sub-title 160MM FS Enduro Bikes
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Procaliber
					p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. World Cup champion Session is proven to be the fastest downhill mountain bike.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel4.png', alt='carousel4')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Superfly
					p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. And with its amazing suspension.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel5.png', alt='carousel5')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title X-Caliber
					p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. And with its amazing suspension, it’s the overall best downhiller the scene has ever seen.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel6.png', alt='carousel6')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Skye Women's
					p.post-descr.text The Skye's the limit for how far this mountain bike will take you. Every detail, from women's-specific touchpoints to optimized wheel size, is designed to ensure a fun, wild adventure on the trail.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel1.png', alt='carousel1')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Marlin
					p.post-descr.text Marlin takes its cue from light, fast XC bikes. The right wheel size for each frame size, performance pedigree, and unbeatable ride feel make Marlin the perfect trail rider.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel2.png', alt='carousel2')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Top Fuel
					p.post-descr.text And with its amazing suspension, it’s the overall best downhiller the scene has ever seen.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel3.png', alt='carousel3')
					figcaption
						p.title Enduro
						p.sub-title 160MM FS Enduro Bikes
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Procaliber
					p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. World Cup champion Session is proven to be the fastest downhill mountain bike.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel4.png', alt='carousel4')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Superfly
					p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. And with its amazing suspension.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel5.png', alt='carousel5')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title X-Caliber
					p.post-descr.text World Cup champion Session is proven to be the fastest downhill mountain bike. And with its amazing suspension, it’s the overall best downhiller the scene has ever seen.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-12.col-sm-12
				figure.news.zoom-image-parent
					img.zoom-image(src='./images/home-page3/carousel6.png', alt='carousel6')
					figcaption
						p.title Farley EX
						p.sub-title Cross Country Race
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-title Skye Women's
					p.post-descr.text The Skye's the limit for how far this mountain bike will take you. Every detail, from women's-specific touchpoints to optimized wheel size, is designed to ensure a fun, wild adventure on the trail.
					a.rounded-btn(href='blog.html') Learn More
		///.row
	///.container
///#news-slider
.section-block.fat-bikes.pb-90
	.container
		.row
			h1.orange-text.text-center Fat Bikes
			p.text.w-60.text-center.mg-auto Fat bikes give you more places, more seasons to ride. From dunes to drifts, race to recreation, fat bikes let you tackle anything, any time, for any reason. Wide tires make these machines supremely capable and amazingly fun.
			.col-md-6.col-sm-6.col-xs-12.block
				figure.news
					img.zoom-image(src='./images/home-page3/fat1.png', alt='fat1')
					a(href='blog.html')
					figcaption
						p.title Farley
						p.sub-title.hidden-xs 26+ / 27.5+ / FAT Hardtails
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-descr.text Farley changes the game for fat bikes. With lightweight carbon or alloy frame options and the ability to accommodate 5" tires and a variety of wheel sizes, Farley is the quickest and most versatile fat bike ever.
					a.rounded-btn(href='blog.html') Learn More
			.col-md-6.col-sm-6.col-xs-12.block
				figure.news
					img.zoom-image(src='./images/home-page3/fat2.png', alt='fat2')
					a(href='blog.html')
					figcaption
						p.title Farley EX
						p.sub-title.hidden-xs Cross Country Race Hardtails
						.star.text-center
							i.fa.fa-star(aria-hidden='true')
				.post
					p.post-descr.text Farley EX blends fat tire traction and stability with full suspension capability for a go-anywhere, do-anything ride that redefines fat bike expectations.
					a.rounded-btn(href='blog.html') Learn More

.section-block.pt-70.pb-70.banner2
	p.banner-text.w-100.text-center.orange-text
		| Create your dream
		br
		| bicycle now
	///.banner-text
///.banner2