.pages-list.pages-list.pl-50.pt-50
	a.orange-text(href='shortcode.html', target='_blank' rel='noopener noreferrer') Shortcode
	a.orange-text(href='home-page1.html', target='_blank' rel='noopener noreferrer') Homepage 1
	a.orange-text(href='home-page2.html', target='_blank' rel='noopener noreferrer') Homepage 2
	a.orange-text(href='home-page3.html', target='_blank' rel='noopener noreferrer') Homepage 3
	a.orange-text(href='blog.html', target='_blank' rel='noopener noreferrer') Blog
	a.orange-text(href='blog-details.html', target='_blank' rel='noopener noreferrer') Blog Details
	a.orange-text(href='about1.html', target='_blank' rel='noopener noreferrer') About 1
	a.orange-text(href='about2.html', target='_blank' rel='noopener noreferrer') About 2
	a.orange-text(href='about3.html', target='_blank' rel='noopener noreferrer') About 3
	a.orange-text(href='work-with-us.html', target='_blank' rel='noopener noreferrer') Work With Us
	a.orange-text(href='contact-us.html', target='_blank' rel='noopener noreferrer') Contact Us
	a.orange-text(href='404.html', target='_blank' rel='noopener noreferrer') 404
///.pages-list