extends layouts/_default

block vars
	- page = {name: 'about', count: '2', title: 'About'}

block header
	include partials/_header

block main
	include pages/about2/_main

block customizer
	include pages/about2/_customizer

block footer
	include partials/_footer