extends layouts/_default

block vars
	- page = {name: 'home-page', count: '3', title: 'Home Page'}

block header
	include partials/_header

block main
	include pages/home-page3/_main

block customizer
	include pages/home-page3/_customizer

block footer
	include partials/_footer