.section-block.marks
	.container
		.row.pos-rel
			.col-md-12
				h1.mt-200.mt-xs-150.l-0.t-0.pos-abs.ml-15.z-1.regular.lower-case.black-text.fw-900.w-xs-50
					| About
					span.orange-text  Bikes
			.col-md-12.pos-abs.full-height
				.socials
					a.facebook(href='javascript:void(0)')
						i.fa.fa-facebook(aria-hidden='true')
					a.linkedin(href='javascript:void(0)')
						i.fa.fa-linkedin(aria-hidden='true')
					a.twitter(href='javascript:void(0)')
						i.fa.fa-twitter(aria-hidden='true')
				///.socials
				.video
					a(href='javascript:void(0)') Watch The Video
						img(src='./images/youtube.png', alt='youtube')
				///.video
			///.full-height
		///.row
	///.container
	.cd-product
		.cd-product-mockup
			ul.cd-points-container
				li.cd-single-point
					a.cd-img-replace(href='javascript:void(0)') More info
					i.fa.fa-star(aria-hidden='true')
					.cd-more-info.cd-right
						h2
							| SPF Frame
							span.orange-text  Tubing
						p The custom frame tubes on the Defcon are made by SPF Air Forming. SPF is carried out at high air temperatures, where the tube structure is in its most ‘plastic’ and formable state. This allows more complicated shapes to be produced that cannot be made using traditional forming techniques. For example, whereas shape designs can be applied to 25% of the tube using hydroforming, SPF allows up to 90% manipulation. The result: more optimized shapes and less weight.
						a.cd-close-info.cd-img-replace(href='javascript:void(0)') Close
				li.cd-single-point
					a.cd-img-replace(href='javascript:void(0)') More info
					i.fa.fa-star(aria-hidden='true')
					.cd-more-info.cd-right
						h2
							| SPF Frame
							span.orange-text  Tubing
						p The custom frame tubes on the Defcon are made by SPF Air Forming. SPF is carried out at high air temperatures, where the tube structure is in its most ‘plastic’ and formable state. This allows more complicated shapes to be produced that cannot be made using traditional forming techniques. For example, whereas shape designs can be applied to 25% of the tube using hydroforming, SPF allows up to 90% manipulation. The result: more optimized shapes and less weight.
						a.cd-close-info.cd-img-replace(href='javascript:void(0)') Close
				li.cd-single-point
					a.cd-img-replace(href='javascript:void(0)') More info
					i.fa.fa-star(aria-hidden='true')
					.cd-more-info.cd-right
						h2
							| SPF Frame
							span.orange-text  Tubing
						p The custom frame tubes on the Defcon are made by SPF Air Forming. SPF is carried out at high air temperatures, where the tube structure is in its most ‘plastic’ and formable state. This allows more complicated shapes to be produced that cannot be made using traditional forming techniques. For example, whereas shape designs can be applied to 25% of the tube using hydroforming, SPF allows up to 90% manipulation. The result: more optimized shapes and less weight.
						a.cd-close-info.cd-img-replace(href='javascript:void(0)') Close
				li.cd-single-point
					a.cd-img-replace(href='javascript:void(0)') More info
					i.fa.fa-star(aria-hidden='true')
					.cd-more-info.cd-right
						h2
							| SPF Frame
							span.orange-text  Tubing
						p The custom frame tubes on the Defcon are made by SPF Air Forming. SPF is carried out at high air temperatures, where the tube structure is in its most ‘plastic’ and formable state. This allows more complicated shapes to be produced that cannot be made using traditional forming techniques. For example, whereas shape designs can be applied to 25% of the tube using hydroforming, SPF allows up to 90% manipulation. The result: more optimized shapes and less weight.
						a.cd-close-info.cd-img-replace(href='javascript:void(0)') Close
				li.cd-single-point
					a.cd-img-replace(href='javascript:void(0)') More info
					i.fa.fa-star(aria-hidden='true')
					.cd-more-info.cd-right
						h2
							| SPF Frame
							span.orange-text  Tubing
						p The custom frame tubes on the Defcon are made by SPF Air Forming. SPF is carried out at high air temperatures, where the tube structure is in its most ‘plastic’ and formable state. This allows more complicated shapes to be produced that cannot be made using traditional forming techniques. For example, whereas shape designs can be applied to 25% of the tube using hydroforming, SPF allows up to 90% manipulation. The result: more optimized shapes and less weight.
						a.cd-close-info.cd-img-replace(href='javascript:void(0)') Close
				li.cd-single-point
					a.cd-img-replace(href='javascript:void(0)') More info
					i.fa.fa-star(aria-hidden='true')
					.cd-more-info.cd-right
						h2
							| SPF Frame
							span.orange-text  Tubing
						p The custom frame tubes on the Defcon are made by SPF Air Forming. SPF is carried out at high air temperatures, where the tube structure is in its most ‘plastic’ and formable state. This allows more complicated shapes to be produced that cannot be made using traditional forming techniques. For example, whereas shape designs can be applied to 25% of the tube using hydroforming, SPF allows up to 90% manipulation. The result: more optimized shapes and less weight.
						a.cd-close-info.cd-img-replace(href='javascript:void(0)') Close
				li.cd-single-point
					a.cd-img-replace(href='javascript:void(0)') More info
					i.fa.fa-star(aria-hidden='true')
					.cd-more-info.cd-right
						h2
							| SPF Frame
							span.orange-text  Tubing
						p The custom frame tubes on the Defcon are made by SPF Air Forming. SPF is carried out at high air temperatures, where the tube structure is in its most ‘plastic’ and formable state. This allows more complicated shapes to be produced that cannot be made using traditional forming techniques. For example, whereas shape designs can be applied to 25% of the tube using hydroforming, SPF allows up to 90% manipulation. The result: more optimized shapes and less weight.
						a.cd-close-info.cd-img-replace(href='javascript:void(0)') Close
				///.cd-single-point
			///.cd-points-container
		///.cd-product-mockup
	///.cd-product
.section-block.bikes.pt-70.pt-xs-20.pb-70.pb-xs-40
	.container
		.row
			.col-md-8.col-sm-8
				h1
					| Defcon
					span.orange-text  Enduro
				p.text The devil is in the details. This is where the 27.5” wheel size really shines: on a 160mm travel all-mountain enduro machine. Utilizing our proven mp4 suspension for pedaling efficiency, with modern geometry and top-level suspension to tackle bigger hits and aggressive descents at higher speeds. This progressive suspension design delivers plush rear wheel traction while still resisting bottom out.  Rear thru-axles, short chainstays and roomy front centers provide stiffness, quick cornering and playful handling. If you want to do it all, fast, this is the bike.
			.col-md-4.col-sm-4
				figure.overlay.not-gradient
					img.w-sm-100.mt-sm-100.mt-xs-30(src='./images/about3/text-image.png', alt='text image')
					a(href='javascript:void(0)')
						i.fa.fa-search-plus(aria-hidden='true')
			.col-md-6.col-sm-6.mt-50
				figure.overlay
					img(src='./images/about3/block1.png', alt='block1')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p.title Enduro
						p.sub-title 160MM FS Enduro Bikes
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-6.col-sm-6.mt-50.mt-xs-0
				figure.overlay
					img(src='./images/about3/block2.png', alt='block2')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p.title Trail
						p.sub-title 130MM FS Trail Bikes
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-6.col-sm-6
				figure.overlay
					img(src='./images/about3/block3.png', alt='block3')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p.title Plus / Fat Tire
						p.sub-title 26+ / 27.5+ / Fat Hardails
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-6.col-sm-6
				figure.overlay
					img(src='./images/about3/block4.png', alt='block4')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p.title XC Perfomance
						p.sub-title Cross Country Race Hardtails
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-6.col-sm-6
				figure.overlay
					img(src='./images/about3/block5.png', alt='block5')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p.title XC Sport
						p.sub-title Hi-Prefomance, Hi-Value
						.star
							i.fa.fa-star(aria-hidden='true')
			.col-md-6.col-sm-6
				figure.overlay
					img(src='./images/about3/block6.png', alt='block6')
					a(href='/blog.html')
						i.fa.fa-search-plus(aria-hidden='true')
					figcaption
						p.title Sport
						p.sub-title 26+ / 27.5+ / Fat Hardails
						.star
							i.fa.fa-star(aria-hidden='true')
		///.row
		.row.about.socials.text-center.mt-40
			.col-md-1.col-md-offset-4.col-sm-2.col-sm-offset-2.col-xs-3
				a.facebook(href='javascript:void(0)')
					i.fa.fa-facebook(aria-hidden='true')
					p.text Facebook
			.col-md-1.col-sm-2.col-xs-3
				a.twitter(href='javascript:void(0)')
					i.fa.fa-twitter(aria-hidden='true')
					p.text Twitter
			.col-md-1.col-sm-2.col-xs-3
				a.google(href='javascript:void(0)')
					i.fa.fa-pinterest(aria-hidden='true')
					p.text Pinterest
			.col-md-1.col-sm-2.col-xs-3
				a.instagram(href='javascript:void(0)')
					i.fa.fa-google-plus(aria-hidden='true')
					p.text Google
		///.row
	///.container
///.bikes