header.pos-abs.mt-30
	nav.navbar
		.container
			.row
				.col-sm-12
					.navbar-header.bg-black.w-90.w-xs-100.pt-25.pb-25.pl-35.pl-sm-20.pr-70.pr-sm-15.br-5.br-md-5.br-sm-5.br-xs-0.pos-fixed
						button#menu-button.navbar-toggle(type='button')
							span.sr-only Hamburger
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')
							include ../../images/logo-white.svg
						.collapse.navbar-collapse
							include ../components/_navbar
			///.row
		///.container
	///.navbar